---
import Nav from "../layouts/nav.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<Nav>
			<div class="p-4 sm:ml-64">
				<div
					class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
				>
					<div class="grid grid-cols-4 gap-4">
						<div class="border-2">hi</div>
						<div class="border-2">are</div>
						<div class="border-2">u</div>
						<div class="border-2">mr.</div>
						<div class="border-2">boss</div>
						<div class="border-2">eiei</div>
					</div>
				</div>
			</div>
		</Nav>
	</body>
</html>
